################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Inquiry/FileContentIndex/3aea3c12-50fa-4794-9604-cba11b26766b.vsidx
/.vs/Inquiry/FileContentIndex/04505f54-035f-4ea7-aacd-c8d2d8f02741.vsidx
/.vs/Inquiry/FileContentIndex/5d6c8eea-72b9-491e-a08b-76b36de78f50.vsidx
/.vs/Inquiry/FileContentIndex/65caea7e-983b-47a7-baea-117c63627d6d.vsidx
/.vs/Inquiry/FileContentIndex/0e2cc6da-a8d8-43ee-b5db-fd373e0eeb0f.vsidx
/.vs/Inquiry/FileContentIndex/676c34a9-98fc-4ae9-ad03-b9a50f56b677.vsidx
