################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Inquiry/FileContentIndex/3aea3c12-50fa-4794-9604-cba11b26766b.vsidx
